
<ion-content class="swiper-no-swiping">
  <div class="container top">
    <img src="/assets/img/gru.png">
        <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
          <ion-segment-button value="login">
            <ion-label>Login</ion-label>
          </ion-segment-button>
          <ion-segment-button value="register">
            <ion-label>Cadastro</ion-label>
          </ion-segment-button>
        </ion-segment>
  </div>

  <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Login</span>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
              <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password" ></ion-input>
            </ion-item>

            <ion-button class="ion-margin'top" (click)="login()" color="light" expand="block">
              Entrar
            </ion-button>
        </div>
        </ion-slide>

      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Cadastro</span>

              <ion-item class="ion-margin-top" lines="none">
                <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
              </ion-item>

              <ion-item class="ion-margin-top" lines="none">
                  <ion-input type="password" placeholder="Senha"  [(ngModel)]="userRegister.password"></ion-input>
                </ion-item>
                <ion-button class="ion-margin'top" (click)="register()" color="light" expand="block">
                    Registrar
                  </ion-button>
  
        </div>
          
      </ion-slide>
  </ion-slides>

  <div class="ocean">
    <div class="waves"></div>

    <div class="container bottom ion-text-center">
      <span>Aplicativo para controle de emprestimo de equipamentos</span>
    </div>
    
  </div>
</ion-content>
