.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    z-index: 2;

    &.top{
        top: 5%;
    }

    &.bottom{
        bottom:30%;

        span{
            color:white;
        }
    }
}


ion-slides{
    height: 100%;
    
    .slide-inner{
        width: 75%;
        color: white;
        background-color:#28e070;
        border-radius:10px;

        ion-item{
            --background: rgba(255, 255, 255, 0.2);
            --border-radius: 10px;
            
        ion-input{
            --color:white;
        }
        }
    }
}

.ocean {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background: var(--ion-color-primary);


    .waves {
        position: absolute;
         top: -100px;
        left: 0;
        right: 0;
        height: 100px;
        background-size: contain;
        transition: all 0.5s;
    }
       
}
