<ion-header>
  <ion-toolbar>
    <ion-title>Equipamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>Equipamentos disponíveis</h4>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-item *ngIf="!product.check">
        <ion-avatar slot="start">
          <img [src]="product.picture">
        </ion-avatar>

        <ion-label>
          {{ product.name }}
          <p>{{ product.description }}</p>
          <p>{{ product.createdAt | date: 'short' }}</p>

        </ion-label>
        <ion-item>
          <ion-label>Disponível</ion-label>
          <ion-checkbox checked="false" [(ngModel)]="product.check"></ion-checkbox>
        </ion-item>

        <ion-note color="primary" slot="end" *ngIf="product.price">{{ product.price | currency: 'BRL' }}</ion-note>
        <ion-item-option color="danger" (click)="deleteProduct(product.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item>


    </ion-item>
  </ion-list>


  <h4>Equipamentos indisponíveis</h4>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-item *ngIf="product.check">
        <ion-avatar slot="start">
          <img [src]="product.picture">
        </ion-avatar>

        <ion-label>
          {{ product.name }}
          <p>{{ product.description }}</p>
          <p>{{ product.createdAt | date: 'short' }}</p>

        </ion-label>
        <ion-item>
          <ion-label>Indisponível</ion-label>
          <ion-checkbox checked="false" [(ngModel)]="product.check"></ion-checkbox>
        </ion-item>

        <ion-note color="primary" slot="end" *ngIf="product.price">{{ product.price | currency: 'BRL' }}</ion-note>
        <ion-item-option color="danger" (click)="deleteProduct(product.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item>


    </ion-item>
  </ion-list>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="logout()" color="danger" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/details" expand="block">
            Add equipamentos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>